    .userInfo{
        padding:20px;
        display: flex;
        flex-direction: row;
        gap:2rem;
        border-bottom: 1px solid white;
        .nameStatus{
            display: flex;
            align-content:flex-start;
            flex-direction: column;
        }
        :local{
            img{
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
